/*
.App {
  text-align: center;
  background-color: #4162a5;
  min-height: 100vh;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem ;
  font-size: 5rem;
  color: white;
}

.App-dailyWord {
  display: flex;
  border: 10px solid #000000;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 4rem;
  width: 25rem;
  color: #ffffff;
}

.App-definitions {
  margin-top: 1rem;
  padding: 10rem;
  width: 50rem;
  font-size: 25px;
  border-radius: 10px;
}
*/


.wrap-button-text {
  height: max-content;
  white-space: inherit;
}
.button {
  height: 100% !important;
  white-space: normal !important;
}
.definition {
  background-color: white;
}

.definition:hover {
  background-color: lightgray;
  transition: background-color 0.1s ease-in;
}

.definition[correct-choice="True"]:active {
  background-color: green;
  transition: background-color 0.0s ease-out;
}

.definition[correct-choice=False]:active {
  background-color: red;
  transition: background-color 0.0s ease-out;
}
