.App {
  text-align: center;
  background-color: #4162a5;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem ;
  font-size: 5rem;
  color: white;
}

.App-dailyWord {
  display: flex;
  border: 10px solid #000000;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 4rem;
  width: 25rem;
  color: #ffffff;
}

.App-definitions {
  display: flex;
  border: 10px solid #000000;
  background: #0F0F0F0F;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  width: 50rem;
  color:  #ffffff;
}

